.page-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;

}
.page-banner a {
    color: #fff;
}

.page-footer {
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    width: 80%;
    margin: 5px auto;
}