body {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.main-header {
    text-align: center;
    background-color: #ff4422;
    margin-top: auto;
    flex: 1 0 auto;
}

.main-container {
    width: 90%;
    margin: auto;
    flex: 1 0 auto;
}

.main-footer {
    text-align: center;
    background-color: #ff4422;
    margin: 0;
    flex-shrink: 0;
}

.about-header {
    text-align: center;
}

.about-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.about-article {
    width: 220px;
}

.game-header, .app-header {
    text-align: center;
}

.game-section, .app-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.game-article, .app-article {
    border: 1px solid #222;
    border-radius: 15px;
    width: 200px;
    background-color: #ff4422;
    box-shadow: 3px 3px 7px #811a07;
}
.game-article-body, .app-article-body {
    padding: 15px;
}
.game-article-header, .app-article-header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-radius: 15px 15px 0 0;
    width: 100%;
    margin: 0px;
    padding: 6px 0;
    background-color: rgb(73, 143, 255);
    overflow: hidden;
    font-size: 1.4em;
    font-weight: bold;
}

.game-article-footer, .app-article-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    border-radius: 0 0 15px 15px;
    width: 100%;
    margin: 0px;
    background-color: rgb(73, 143, 255);
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
}